* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
/* Main */

body {
    background-color: #b2d9ff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size: 15px;
    margin: 0px;
    overflow-y: hidden;
}

header {
    /* position: absolute; */
    background-color: #28A282;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    margin: 0px;
}

footer {
    background-color: #e8bb68;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 1rem;
    font-size: 15px;
}

a:visited {
  color: darkblue;
}

a:hover {
  color: blue;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#gameContainer {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  place-items: center;
}

#gameContainer > div {
  font-size: 2rem;
  margin: 2rem;
}
